<!-- <div class="headerTitle">
    <div class="headerTitleInner">
      <button  mat-raised-button class="select-btn">Profile</button>
    </div>
  </div> -->
<div class="profile">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.username}}</mat-card-title>
            <mat-card-subtitle>{{user.type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/userface.jpg" alt="Photo">
        <mat-card-content>
            <p>
                Email: {{user.email}}
                <br>
                Balance: {{user.balance}} Euro
            </p>
            <img [src]="imgf">
        </mat-card-content>
    </mat-card>
</div>