#accId {
  border-color: green;
  border: 8px;
}

  .logo {
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
  }
  
  .homeLogo {
    width: 25px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 3px;
  
    &::ng-deep .mat-button-wrapper {
      line-height: 14px;
      padding: 0;
  
      .mat-icon {
        font-size: 20px;
        padding-right: 1px;
        padding-top: 2px;
      }
    }
  }
  
  .searchLogo {
    width: 25px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 20px;
  
    &::ng-deep .mat-button-wrapper {
      line-height: 14px;
      padding: 0;
  
      .mat-icon {
        font-size: 20px;
        padding-right: 1px;
        padding-top: 2px;
      }
    }
  }
  
  .profileLogo {
    width: 25px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 3px;
  
    &::ng-deep .mat-button-wrapper {
      line-height: 14px;
      padding: 0;
  
      .mat-icon {
        font-size: 20px;
        padding-right: 1px;
        padding-top: 2px;
      }
    }
  }
  .logoutLogo {
    width: 25px;
    height: 25px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 3px;
  
    &::ng-deep .mat-button-wrapper {
      line-height: 14px;
      padding: 0;
  
      .mat-icon {
        font-size: 20px;
        padding-right: 1px;
        padding-top: 2px;
      }
    }
  }
  
  .search-bar {
    background-color: #222;
  }
  .search-bar * {
    color: white !important;
  }
  .search-bar input {
    border-bottom-color: white;
  }
  .md-errors-spacer {
    display: none;
  }
  
  .login{
    border-radius: 5px;
  }
  .example-sidenav-content {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #13294b;
    padding-top: 1px;
    height: 50%;
    margin: 1px;
  }
  .example-sidenav-content button {
    color: #47d7ac;
    background-color: #47d7ac;
  }
  .example-sidenav-content * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #13294b;
  }
  
  .example-sidenav {
    background-color: #222;
  }
  .active {
    background-color: #47d7ac;
  }
  
  .sidenav-item {
    color: white;
    font-size: 20px;
  }
  
  ::ng-deep {
    mat-icon {
      color: white;
    }
  
    mat-toolbar button {
      color: #47d7ac;
      background-color: #47d7ac !important;
    }
  }
  
  .search-input {
    border-radius: 25px 25px 25px 25px;
    border-width: 0px;
    margin-right: 5px;
  }
