table {
  width: 100%;
}
.select-btn {
  background-color: #47d7ac;
  color: #fff;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.details{
  text-align: center;
  color: #47d7ac;
}
.board{
  // display: flex;
  // justify-content: center;
  padding: 20px;
  width: 90%;

}