<div class="headerTitle">
    <div class="headerTitleInner">
        <button mat-raised-button class="select-btn">General Offers</button>
    </div>
</div>
<div class="offerBoard">

    <mat-grid-list cols="2" rowHeight="155px" [gutterSize]="'20px'">
        <mat-grid-tile>General Offer 1</mat-grid-tile>
        <mat-grid-tile>General Offer 2</mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<br>
<div class="headerTitle">
    <div class="headerTitleInner">
        <button mat-raised-button class="select-btn">Custom Offers</button>
    </div>
</div>
<div class="offerBoard">
    <mat-grid-list cols="2" rowHeight="155px" [gutterSize]="'20px'">
        <mat-grid-tile>Customised Offer 1
            <br>
            {{this.offerList[0].brandname}}
            <br>
            {{this.offerList[0].offerDescription}}
            <br>
            {{this.offerList[0].offerValidity}}
        </mat-grid-tile>
        <mat-grid-tile>Customised Offer 2
            <br>
            {{this.offerList[1].brandname}}
            <br>
            {{this.offerList[1].offerDescription}}
            <br>
            {{this.offerList[1].offerValidity}}
        </mat-grid-tile>
    </mat-grid-list>


</div>