.example-card {
    max-width: 400px;
      }
  
  .example-header-image {
    background-image: url('./../../../assets/images/userface.jpg');
    background-size: cover;
  }
  .profile{
    display: flex;
    justify-content: center;
  }