<mat-toolbar class="search-bar" layout="fill">
  <p><button class="menu" mat-mini-fab *ngIf="isLoggedin == true " mat-button (click)="sidenav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button></p>
  <span>
    <img src="assets/images/nglogo.svg" alt="Nagarro">
  </span>
  <span class="fill-space"></span>
  
  <!-- <button class="logoutLogo" mat-mini-fab *ngIf="isLoggedin == true " (click)="logOut()">
    <mat-icon>output</mat-icon>
  </button> -->
  <h1 *ngIf="userName !== '' ">Welcome Account {{userName}}</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav [fixedInViewport]=true [fixedTopGap]="65" [fixedBottomGap]="300"  class="example-container-nav" #sidenav
    mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item >
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5 >Home</h5>
        </div>
      </mat-list-item>

      <mat-list-item (click)="redirect()">
        <mat-icon mat-list-icon>library_books</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5 class="lead">View Statement</h5>
        </div>
      </mat-list-item>
      <mat-list-item >
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5 class="lead">Analytics</h5>
        </div>
      </mat-list-item>
      <mat-list-item >
        <mat-icon mat-list-icon>local_offer</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5 class="lead">Offers</h5>
        </div>
      </mat-list-item>
      <mat-list-item (click)="goToProfile()">
        <mat-icon mat-list-icon>person</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
          <h5 class="lead">Profile</h5>
        </div>
      </mat-list-item>

      <mat-list-item (click)="logOut()" >
        <mat-icon mat-list-icon>input</mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item" (click)="logOut()">
          <h5 class="lead">Logout</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>